{% extends 'wishlist/_layouts' %}
{% import '_includes/forms' as forms %}
{% import 'wishlist/_macros' as macros %}

{% set selectedSubnavItem = 'settings' %}

{% set crumbs = [
    { label: craft.wishlist.getPluginName(), url: url('wishlist/settings') },
    { label: 'Settings' | t('app'), url: url('wishlist/settings') }
] %}

{% set fullPageForm = true %}

{% block content %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="wishlist">

{% namespace 'settings' %}
    {{ forms.textField({
        id: 'pluginName',
        name: 'pluginName',
        label: 'Plugin Name' | t('app'),
        instructions: 'Plugin name for the end user.' | t('wishlist'),
        value: settings.pluginName,
        first: true,
        autofocus: true,
        warning: macros.configWarning('pluginName', 'wishlist'),
    }) }}
{% endnamespace %}

{% endblock %}
