{% extends 'wishlist/_layouts' %}
{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set crumbs = [
    { label: craft.wishlist.getPluginName(), url: url('wishlist/settings') },
    { label: 'Settings' | t('app'), url: url('wishlist/settings') }
] %}

{% set selectedSubnavItem = 'settings' %}
{% set fullPageForm = true %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="wishlist">

{% namespace 'settings' %}

{{ forms.textField({
    first: true,
    id: 'pluginName',
    name: 'pluginName',
    label: 'Plugin Name' | t('app'),
    instructions: 'Plugin name for the end user.' | t('wishlist'),
    value: settings.pluginName,
    autofocus: true,
    warning: macros.configWarning('pluginName', 'wishlist'),
}) }}

{% endnamespace %}

{% endblock %}
