{% extends 'wishlist/_layouts' %}
{% set selectedSubnavItem = 'lists' %}

{% set crumbs = [
    { label: craft.wishlist.getPluginName() | t('wishlist'), url: url('wishlist') },
    { label: 'Lists' | t('wishlist'), url: url('wishlist/lists') },
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% import '_includes/forms' as forms %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save' | t('wishlist') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl | hash }}">
                        {{ 'Save and continue editing' | t('wishlist') }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a>
                </li>

                {% if list.id %}
                    <li>
                        <a class="formsubmit" data-param="listId" data-value="" data-redirect="{{ continueEditingUrl | hash }}">
                            {{ 'Save as a new list' | t('wishlist') }}
                        </a>
                    </li>
                {% endif %}
            </ul>

            {% if list.id %}
                <hr>
                <ul>
                    <li>
                        <a class="formsubmit error" data-action="wishlist/lists/delete" data-confirm="{{ 'Are you sure you want to delete this list?' | t('wishlist') }}" data-redirect="{{ 'wishlist/lists' | hash }}">
                            {{ 'Delete' | t('wishlist') }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="wishlist/lists/save-list">
    {{ redirectInput('wishlist/lists') }}
    <input type="hidden" name="typeId" value="{{ listType.id }}">
    {% if list.id %}<input type="hidden" name="listId" value="{{ list.id }}">{% endif %}

    <div id="fields">
        {% if fieldsHtml | length %}
            {{ fieldsHtml | raw }}
        {% else %}
            <em>{{ 'No custom fields defined for this list type.' | t('wishlist') }}</em>
        {% endif %}
    </div>

    <hr>

    <div id="items" class="">
        <h2>{{ 'List Items' | t('comments') }}</h2>

        {% if list.id and list.items.count() %}
            <div id="elementindex-items" class="elementindex">
                {% set elementType = 'verbb\\wishlist\\elements\\Item' %}
                {% set elementInstance = craft.app.elements.createElement(elementType) %}
                {% set context = 'index' %}
                {% set sources = craft.app.elementIndexes.getSources(elementType, 'index') %}

                <div class="element-toolbar flex flex-nowrap">
                    {% include '_elements/toolbar' with {
                        showSiteMenu: false,
                    } %}
                </div>
                
                <div class="content-pane" style="margin-top: 24px; box-shadow: none; border: 1px #cdd8e4 solid;">
                    <div class="elements"></div>
                </div>

                <div class="sidebar">
                    <nav class="hidden">
                        {% include "_elements/sources" %}
                    </nav>
            
                    <a class="customize-sources">
                        <span class="settings icon"></span>
                        <span class="label">{{ 'Customize'|t('app') }}</span>
                    </a>
                </div>
            </div>

            {% js %}
                Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#elementindex-items'), {
                    elementTypeName: '{{ elementInstance.displayName()|e("js") }}',
                    elementTypePluralName: '{{ elementInstance.pluralDisplayName()|e("js") }}',
                    context: '{{ context }}',
                    storageKey: 'elementindex.{{ elementType|e("js") }}',
                    criteria: { id: {{ list.items.ids() | json_encode | raw }} },
                    toolbarSelector: '.element-toolbar'
                });
            {% endjs %}
        {% else %}
            <p><em>{{ 'No items in this list.' | t('wishlist') }}</em></p>
        {% endif %}

        <hr>

        <a class="btn formsubmit submit icon add" data-redirect="{{ url('wishlist/lists/' ~ list.type.handle ~ '/' ~ list.id ~ '/items/new') | hash }}">{{ 'Add item' }}</a>
    </div>
{% endblock %}

{% block details %}
    <div class="meta">
        {{ forms.lightswitchField({
            label: 'Enabled' | t('wishlist'),
            id: 'enabled',
            name: 'enabled',
            on: list.enabled,
            first: true,
        }) }}

        <div class="field">
            <div class="heading">
                <label>{{ 'Reference' | t('wishlist') }}</label>
            </div>

            <div class="input ltr">
                <code>{{ list.reference }}</code>
            </div>
        </div>

        <div class="field">
            <div class="heading">
                <label>{{ 'IP Address' | t('wishlist') }}</label>
            </div>

            <div class="input ltr">
                <code>{{ list.lastIp }}</code>
            </div>
        </div>
        
        <div class="field">
            <div class="heading">
                <label>{{ 'Owner' | t('wishlist') }}</label>
            </div>

            {% if list.user %}
                <div class="input ltr">
                    <a href="{{ list.user.cpEditUrl }}">{{ list.user }}</a>
                </div>
            {% else %}
                <div class="input ltr">
                    {{ 'Guest' | t('wishlist') }}
                </div>
            {% endif %}
        </div>
    </div>

    {% if list.id %}
        <hr>

        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ 'Date Created' | t('wishlist') }}</h5>
                <div class="value">{{ list.dateCreated | date('short') }} {{ list.dateCreated | time('short') }}</div>
            </div>

            <div class="data">
                <h5 class="heading">{{ 'Date Updated' | t('wishlist') }}</h5>
                <div class="value">{{ list.dateUpdated | date('short') }} {{ list.dateUpdated | time('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% css %}

#elementindex-items .sidebar {
    padding: 0;
    width: 100%;
    background: transparent;
}

#elementindex-items .sidebar .customize-sources {
    display: inline-block;
    margin: 1rem 0 0;
    padding: 0;
}

#elementindex-items .sidebar .customize-sources .label {
    opacity: 1;
}

{% endcss %}