{% extends 'wishlist/_layouts' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set crumbs = [
    { label: craft.wishlist.getPluginName() | t('wishlist'), url: url('wishlist') },
    { label: 'Settings' | t('app'), url: url('wishlist/settings') },
] %}

{% set navItems = {
    'general': { title: 'General Settings' | t('wishlist') },
    'migrations-heading': { heading: 'Migrations' | t('wishlist') },
    'migrate/shortlist': { title: 'Shortlist' | t('wishlist') },
} %}

{% set selectedSubnavItem = 'settings' %}
{% set selectedTab = selectedTab ?? craft.app.request.getSegment(3) ?? 'general' %}

{% block sidebar %}
    <nav class="wishlist-settings-tabs">
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url('wishlist/settings/' ~ handle) }}" {% if handle == selectedTab %}class="sel"{% endif %}>
                            {{ item.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
